@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));


@theme {
    --color-light-primary: #f2f3f4;
    --color-light-secondary: #f8f9fc;

    --color-dark-primary: #141414;
    --color-dark-secondary: #1f1f1f;
}